body { background: #832ed4; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 15px; display: flex; }
.block-router-0 { color: #ff5d03; font-size: 14px; margin-bottom: 5px; }
.block-search-1 { color: #d46761; font-size: 14px; margin-bottom: 5px; }
.block-config-2 { color: #374fc1; font-size: 16px; margin-bottom: 5px; }
.block-email-3 { color: #c5a7cd; font-size: 12px; margin-bottom: 5px; }
.block-uploader-4 { color: #54eda6; font-size: 18px; margin-bottom: 5px; }
.block-product-5 { color: #8651fd; font-size: 13px; margin-bottom: 5px; }
.block-cart-6 { color: #225209; font-size: 17px; margin-bottom: 5px; }
.block-validator-7 { color: #ea3692; font-size: 12px; margin-bottom: 5px; }
.block-uploader-8 { color: #b0e722; font-size: 17px; margin-bottom: 5px; }
.block-config-9 { color: #3de73a; font-size: 17px; margin-bottom: 5px; }
.block-cluster-10 { color: #837df0; font-size: 18px; margin-bottom: 5px; }
.block-uploader-11 { color: #a69d6; font-size: 21px; margin-bottom: 5px; }